* {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #e6e6e6;
    width: 100%;
    height: 100px;
}

.shadow {
    box-shadow: inset 0px 19px 11px -12px rgba(77, 77, 77, 0.2);
}

nav {
    margin-top: 25px;
    position: absolute;
    right: 0;
    margin-right: 25px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 15px;
}

aside {
    background-color: #f0f0f0;
    width: 20%;
    height: 80vh;

    text-align: center;
}

main {
    background-color: #fcfcfc;
    width: 80%;
    height: 80vh;
}

footer {
    background-color: #ccc;
    width: 100%;
    height: 70px;

    padding-top: 25px;
    text-align: center;

    position: absolute;
    bottom: 0;

    box-shadow: 0px -10px 31px -12px rgba(77, 77, 77, 0.25);
}

footer a {
    text-decoration: none;
    color: #34495e;
}

.card>h4>a {
    text-decoration: none;
    color: #34495e;
}

#header-section {
    width: 100%;
    display: flex;
}

#header-section>aside:nth-child(1) a {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    background-color: #e6e6e6;
}

#header-section>aside:nth-child(1) {
    background-color: #e6e6e6;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    padding: 2px 16px;
    margin: 20px 50px 0px 50px;
}